# Directories
cache/
out/
target/
deps/
dependencies/
docs/
node_modules/
.vscode/*
.idea/


# broadcasts
!broadcast
contracts/broadcast/*
contracts/broadcast/*/31337/

# Files
TODO.md
*.env
.DS_Store
.history
*.nockma
*.bkp
*.zip
